footer {
    min-height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-links {
    margin-top: 10px;
}

.footer-text {
    color: #010104;
    text-align: center;
    font-size: 1.3rem;
}
