.transparent-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 30px;
    font-family: monospace;
    font-size: 1rem;
}

.titleFatherContainer {
    flex-grow: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.btn-transparent {
    text-decoration: underline;
}


.logo {
    height: 80%;
    width: 10rem;
    object-fit: contain;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 0%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0b909d;
}

.profileCircle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #000000;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.profileCircle:hover {
    filter: blur(2px);
}

/* Media Queries para responsividad */

@media (max-width: 768px) {
    .transparent-header {
        padding: 0 10px;
        height: 30vh;
    }

    .nav-container {
        flex-direction: column;
        gap: 5px;
    }

    .logo {
        width: 10rem; 
    }

    .btn {
        font-size: 16px; 
    }
}

@media (max-width: 480px) {
    .transparent-header {
        padding: 0 10px;
        flex-direction:row; 
        justify-content: space-between;
        height: 50vh;
    }

    .titleFatherContainer {
        order: 1; 
    }

    .nav-container {
        height: fit-content;
        flex-grow: 0;
        order: 2; 
        justify-content: space-between; 
    }

    .profileCircle {
        display: flex;
        justify-content: left;
        
        
    }
}
.BK {
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.1rem;
    border-radius: 50%;
    display: flex;

    background: rgb(224, 228, 144);
    color: black;

}