.transparent-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding: 0 30px;
}

.titleFatherContainer {
    flex-grow: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.logo {
    height: 80%;
    width: 10rem;
    object-fit: contain;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 0%;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0b909d;
}



.profileCircle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: filter 0.3s ease; /* Transición suave para el filtro */
}

.profileCircle:hover {
    filter:blur(2px)/* Aplica un desenfoque suave cuando el ratón está encima */
}
